a{
    text-decoration: none; 
}

body{
    display: flex;
    width: auto;
    flex-direction: column;
    color: #8d96bd;
}

header{
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    z-index: 1;
}
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    margin: -15px 0;
    display: flex;
    flex-wrap: wrap;
}

.headerContent{
    display: flex;
    padding: 18px 0;
    align-items: center;   
}

.header-logo{
    display: inline-flex;
}

.menu{
    display: flex;
    flex-grow: 3;
    justify-content: start;
    align-items: center;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #697CA6;
    margin-left: 50px;
}

.headerButton{
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 5px #E6E6E6;
    padding: 21px;
}

.socialMedia{
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    width: 176px; 
}

.fab{
    padding: 15px;
}
.fa-facebook-f{
    color: #B6BAC7;
}

.fa-twitter{
    color: #6188FF;
}

.fa-telegram-plane{
    color: #B6BAC7;
}

.fa-medium-m{
    color: #757E9A;
}

.button-get-strtaed{
    width: 115px;
}

.getStarted{
    font-family: Quicksand;    
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    padding: 16px 20px;
    border-radius: 2px;
    color:  #3A79FF;
    background: #D2E1FF;
    display: inline-flex;
}

#buttonHome{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    text-shadow: 0px 0px 5px #E6E6E6;
    color: #5E81FE;
}

.main-slider{
    height: 570px;
    border-top: 1px solid #D8E3FE;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}
.main-slide{
    height: 100%;
	display: flex;
    justify-content: center;
    background-size: cover;
    background-position: bottom center;
}
.main-slide-content{
	max-width: 613px;
	padding: 0 15px;
	text-align: center;
	margin: 90px 0 0;
}

.page-1-str-1{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3d4f9f;
	margin: 0 0 16px;
}

.page-1-str-2{
	font-family: 'Quicksand';
	font-weight: 300;
	font-size: 48px;
	line-height: 60px;
	color: #3D4F9F;
	margin: 0 0 20px;
}
.page-1-str-2 strong{
    font-weight: 500;
}

.main-slide-content p {
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 29px;
	letter-spacing: 0.03em;
	max-width: 500px;
	margin: 0 auto 10px;
}

.sponsor{
    display: flex;
    height: 145px;
    align-items: center;
    background: #FFFFFF;
    justify-content: center;
}

.sponsorContent{
    display: flex;
    height: 29px;
    align-items: center;
    justify-content: space-around;;
}


.planAndManage{
    height: 776px;
    background: #F5F8FF;
}

.page-2-buttons{

}

.page-2-button-1{
    font-family: 'Quicksand';    
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    padding: 16px 20px;
    border-radius: 2px;
    padding: 13px 25px;
    color:  #FFFFFF;;
    background: #4C85FF;
    display: inline-flex;
    background: #4C85FF;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    border-radius: 2px;
}

.page-2-button-2{
    font-family: 'Quicksand';    
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding: 16px 20px;
    border-radius: 2px;
    color:  #ADB4D2;
    font-style: normal;
    align-items: center;
    text-align: center;
    padding: 12px 31px;
    background: #F5F8FF;
    display: inline-flex;
    border: 1px solid #D1D1E4;
    box-sizing: border-box;
    border-radius: 2px;
}
.fa-play{
    padding: 0 6px;
}

.play{
    background: #FFFFFF;
}

.page__2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    margin: 0px 0px;
}

.page-2-1{
    display: flex;
    flex-direction: column;
}

.page-2-2{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.page__3{
    height: 885px;
}
.container__3{
    height: 633px;
} 

.page__3_main{
    height: 100%;
	display: flex;
    justify-content: center;  

}