*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
    }
body {
    min-width: 100%;
    }


a{
    text-decoration: none; 
}

a:visited{
    color: #697CA6;
}

.header {
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
}

.headerContent{
    position: absolute;
    width: 1206px;
    height: 43px;
    left: 117px;
    top: 0px;
}

.hedaerLogo{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0px;
    top: 27px;
    
}

.menu{
    position: absolute;
    width: 427px;
    height: 15px;
    left: 99px;
    top: 33px;
    display: flex;
    justify-content: space-between;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #697CA6;

}

.socialMedia{
    position: absolute;
    width: 162px;
    height: 17px;
    left: 887px;
    top: 32px;
    display: flex;
    justify-content: space-between;
    
}

.getStartButton{
    position: absolute;
    width: 113px;
    height: 43px;
    left: 1093px;
    top: 19px;
    background: #D2E1FF;
    border-radius: 2px;
}

.headerButton{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 5px #E6E6E6;
}




.getStarted{
    background: #D2E1FF;
    border-radius: 2px;
    border: 13px 15px 13px 16px;
    position: absolute;
    width: 82px;
    height: 17px;
    top: 13px;
    left: 16px;
   
    font-family: Quicksand;    
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
       
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #3A79FF;
    border-radius: 2px;
}

#buttonHome{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}
.heroImageContent{
    position: absolute;
    width: 1440px;
    height: 570px;
    left: 0px;
    top: 80px;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.elipse{
    position: absolute;
    right: 0.5px;
    top: 407px;
}

.groupDot{
    position: absolute;
    width: 48px;
    height: 8px;
    left: 696px;
    top: 534px;
}

.dot1{
    position: absolute;
    left: 0;
    top: 0;
}
.dot2{
    position: absolute;
    left: 20px;
}
.dot3{
    position: absolute;
    left: 40px;
}

.heroImageContainer{
    position: absolute;
    width: 1441px;
    height: 533px;
    left: 0px;
    top: 37px;
}

.chart{
    position: absolute;
width: 1441px;
height: 465px;
left: 0px;
top: 68px;
}


