a{
    text-decoration: none; 
}

a:visited{
    color: #697CA6;
}

body{
    display: flex;
    width: auto;
    flex-direction: column;
}

header{
    position: sticky;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent{
    width: 83.75%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogo{

}

.menu{
    width: 427px;
    height: 15px;
    
    display: flex;
    justify-content: space-between;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #697CA6;
}

.headerButton{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 5px #E6E6E6;
}

.socialMedia{
    width: 13%;
    height: 17px;
    display: flex;
    justify-content: space-between;
}

.fa-facebook-f{
    color: #B6BAC7;
}

.fa-twitter{
    color: #6188FF;
}

.fa-telegram-plane{
    color: #B6BAC7;
}

.fa-medium-m{
    color: #757E9A;
}


.getStarted{
    height: 43px;
    align-self: flex-end;
    font-family: Quicksand;    
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
        
    color:  black;
    border: 100% 16px;
    background: #D2E1FF;
    display: flex;

}

#buttonHome{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    text-shadow: 0px 0px 5px #E6E6E6;
    color: #5E81FE;
}

.heroImageContent{
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.elipse{

}

.groupDot{

}

.dot1{
    position: absolute;
    left: 0;
    top: 0;
}
.dot2{
    position: absolute;
    left: 20px;
}
.dot3{
    position: absolute;
    left: 40px;
}

.heroImageContainer{

}

.chart{

}

.sponsor{
    display: flex;
    height: 145px;
    align-items: center;
    background: #FFFFFF;
    justify-content: center;
}

.sponsorContent{
    display: flex;
    height: 29px;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}